body {
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 80%;
  padding: 10px;
  text-align: center;
  background: whitesmoke;
  margin-bottom: 10px;
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
}
section {
  display: inline-flex;
}
section div {
  width: 50%;
}
section p {
  padding: 0 25px;
}
h1 {
  font-family: 'Wire One', sans-serif;
  font-size: 43px;
  margin: 0;
  border-radius: 5px;
  background: white;
  line-height: 45px;
  padding: 5px 0;
  letter-spacing: 10px;
}
h1 br {
  display: none;
}
h2 {
  margin-bottom: 30px;
}
h2, h3 {
  letter-spacing: 5px;
}
p a {
  color: #000;
}
p a:hover {
  color: #800020;
}
footer {
  color:#0000;
  background: 
    linear-gradient(90deg,white 50%,black 0) 
    var(--_p,100%)/200%,
    linear-gradient(90deg,white 50%,black 0) 
    var(--_c,0%)/200%
    no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .5s;
  padding: 3px 0;
  width: 100%;
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
footer p {
  font-size: 13px;
  line-height: 17px;
  margin-left: 10px;
}
ul {
  list-style-type: none;
  display: flex;
}
footer:hover, footer i:hover, footer a:hover {
  --_p: 0%;
  --_c: 100%;
}
footer li a i {
  margin-right: 15px;
}
footer a {
  color: linear-gradient(90deg,white 50%,black 0) 
    var(--_p,100%)/200%,
    linear-gradient(90deg,white 50%,black 0) 
    var(--_c,0%)/200%
    no-repeat;
}
footer li a i:hover {
  transform: scale(1.8);
  transition: .2s;
  color: #ffffff;
}

@media (max-width: 1000px) {
  body {
    width: 80%;
  }
  h1 br {
    display: block;
  }
}
@media (max-width: 660px) {
  body {
    margin: 0px;
  }
  section {
    display: block;
  }
  section div {
    width: 100%;
  }
  h3 {
    margin-top: 40px;
  }
}
@media (max-width: 460px) {
  h2 span {
    display: none;
  }
  h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
  }
}